HELP.md
target
target/classes
target/maven-status
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

bcb_clones
elasticsearch.iml
searchkey.csv
rprec*.csv
map*.csv
tfidf*.csv
bm25*.csv
dfr*.csv
ib*.csv
lmd*.csv
lmj*.csv
kibana-4.4.1-darwin-x64
elasticsearch-2.2.0
results/CloPalg/old_results/*
results/SOCO/old_results/*
figure.pdf
figure_log.pdf
freq_df_src.csv
freq_df_toksrc.csv
freq_src.csv
freq_tf_src.csv
freq_tf_toksrc.csv
hist.pdf
hist_tok.pdf
results/search_results.txt
*-SNAPSHOT.jar
github-crawler.log
src/__pycache__
BellonClonesReader/bellon_benchmark
BellonClonesReader/queries
exp_results
queries
results/bcb_query_time
results/TermFreq
bcb_sample_clones
results/old
elasticsearch-2.2.0_ngrams
elasticsearch-2.2.0-ngrams
elasticsearch-2.2.0-small


# System Files
.DS_Store
Thumbs.db
**/.DS_Store