.idea
target/classes
target
elasticsearch.iml
searchkey.csv
rprec*.csv
map*.csv
tfidf*.csv
bm25*.csv
dfr*.csv
ib*.csv
lmd*.csv
lmj*.csv
kibana-4.4.1-darwin-x64
elasticsearch-2.2.0
results/CloPalg/old_results/*
results/SOCO/old_results/*
figure.pdf
figure_log.pdf
freq_df_src.csv
freq_df_toksrc.csv
freq_src.csv
freq_tf_src.csv
freq_tf_toksrc.csv
hist.pdf
hist_tok.pdf
results/search_results.txt
